p.one
{
  border-style:solid;
  border-width:5px;
}
p.two
{
  border-style:solid;
  border-width:medium;
}
p.three
{
  border-style:dotted;
  border-width:2px;
}
p.four
{
  border-style:dotted;
  border-width:thick;
}
p.five
{
  border-style:double;
  border-width:5px;
}
p.six
{
  border-style:double;
  border-width:thick;
}
p.seven
{
  border-style:solid;
  border-width:2px 5px 3px 10px;
}
p.eight
{
  border-left:6px solid red;
  background-color: lightgrey;
}
p.nine
{
  border-bottom:6px solid red;
  background-color: lightgrey;
}
