div.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #cae9ca;
  border: 2px solid #4CAF50;
}

div.relative{
  position: relative;
  width: 400px;
  height: 200px;
  border: 3px solid red;
}

div.absolute{
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid orange;
}
