#borderimg1 {
  border: 10px solid transparent;
  padding: 15px;
  -webkit-border-image: url(035-Script-25-10-2017.png) 50 round;
  -o-border-image: url(035-Script-25-10-2017.png) 50 round;
  border-image: url(035-Script-25-10-2017.png) 50 round;
}
#borderimg2 {
  border: 10px solid transparent;
  padding: 15px;
  -webkit-border-image: url(035-Script-25-10-2017.png) 20% round;
  -o-border-image: url(035-Script-25-10-2017.png) 20% round;
  border-image: url(035-Script-25-10-2017.png) 20% round;
}
#borderimg3 {
  border: 10px solid transparent;
  padding: 15px;
  -webkit-border-image: url(035-Script-25-10-2017.png) 30% round;
  -o-border-image: url(035-Script-25-10-2017.png) 30% round;
  border-image: url(035-Script-25-10-2017.png) 30% round;
}
